# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/

# Ignore log files
*.log

# Ignore downloaded ChromeDriver binary
chromedriver_linux64.zip

# Ignore Docker-related files
*.env
.dockerignore
